/* Background Image */
.background {
    background-image: url('https://drive.google.com/uc?id=11WsVKaW7BV6UW7kjVwlGD6c2Cm_UIKyh');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    
}

/* Content Styling */
.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

/* Heading Styling */
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Input Form Styling */
.input-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-form input {
    padding: 10px;
    margin-right: 10px;
    border:2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    transform: all 0.3s ease;
}

.input-form button {
    padding: 10px 20px;
    background-color: #34926c;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    cursor: pointer;
}

.input-form button:hover {
    background-color: #0e686d;
}

/* Food Item List Styling */
#food-items {
    list-style: none;
    padding: 0;
}

#food-items li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.yellow {
    color: black;
    background-color: yellow;
}

.normal {
    color: black;
    background-color: #f1f1f1;
}

/* Recipe Suggestion List Styling */
#recipe-suggestions ul {
    list-style: none;
    padding: 0;
}

#recipe-suggestions li {
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

/* Funny Facts Section */
#funny-facts {
    margin-top: 40px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.fact-bar {
    background-color: #34926c;
    padding: 10px;
    text-align: center;
    font-family:cursive;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#fact-title {
    font-size: 1.5em;
    color: #F5F5DC;
}
button{
    border-radius: 50px;
    background-color:#98FB98;
}
button:hover {
    background-color: #27ba58;
    colour:rgb(22, 229, 22);
    transform: scale(1.05);
}
